<template>
    <div id="buttons" class="ToolkitContent-section">
        <div class="ToolkitContent-title">Buttons</div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Standard buttons (FO)</div>

            <ul>
                <li>Use of bootstrap classes : No</li>
                <li>Number of variants : 3 (Default, Primary and Disabled)</li>
                <li>Defined in file : components/_buttons.scss</li>
            </ul>

            <div class="row u-centerText">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Default button</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Primary button</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-primary">Post</button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Primary Disabled button</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-primary" disabled="disabled">Post</button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-border">
<xmp class="prettyprint">
// default button
<button type="button" class="btn btn-default">Cancel</button>

// primary button
<button type="button" class="btn btn-primary">Post</button>

// primary disabled button
<button type="button" class="btn btn-primary" disabled="disabled">Post</button>
</xmp>
                </div>
            </div>
        </div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Navigation buttons (FO)</div>

            <ul>
                <li>Use of bootstrap classes : No</li>
                <li>Number of variants : 2 (Nav Milestone and Disabled)</li>
                <li>Defined in file : components/_buttons.scss</li>
            </ul>

            <p>
                These buttons are fixed at the screen bottom and take full width on XS screen size<br>
                These buttons are in float right on SM screen size and more
            </p>

            <div class="row u-centerText">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Nav Milestone button</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <div class="btn-nav-milestone">
                                    <a href="#" class="btn-nav-milestone-link">
                                        <span class="btn-nav-milestone-text">Next screen</span>
                                        <span class="btn-nav-milestone-icon">
                                            <i class="icon-arrow-right btn-nav-milestone-fa"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="u-clearBoth"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Nav Milestone Disabled button</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <div class="btn-nav-milestone isDisabled">
                                    <a href="#" class="btn-nav-milestone-link">
                                        <span class="btn-nav-milestone-text">Next screen</span>
                                            <span class="btn-nav-milestone-icon">
                                                <i class="icon-arrow-right btn-nav-milestone-fa"></i>
                                            </span>
                                    </a>
                                </div>
                                <div class="u-clearBoth"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-border">
<xmp class="prettyprint">
// nav milestone button
<div class="btn-nav-milestone">
    <a href="#" class="btn-nav-milestone-link">
        <span class="btn-nav-milestone-text">Next screen</span>
        <span class="btn-nav-milestone-icon">
            <i class="icon-arrow-right btn-nav-milestone-fa"></i>
        </span>
    </a>
</div>

// nav milestone disabled button
<div class="btn-nav-milestone isDisabled">
    <a href="#" class="btn-nav-milestone-link">
        <span class="btn-nav-milestone-text">Next screen</span>
    <span class="btn-nav-milestone-icon">
        <i class="icon-arrow-right btn-nav-milestone-fa"></i>
    </span>
    </a>
</div>
</xmp>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Buttons',

        data() {
            return {}
        }
    };
</script>