<template>
    <div id="color-scheme" class="ToolkitContent-section">
        <div class="ToolkitContent-title">Color Scheme</div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Grey colors (FO)</div>

            <ul>
                <li>Used for : text, backgrounds, lines and borders</li>
                <li>Defined in file : common/_variables.scss</li>
            </ul>

            <div class="container-fluid">
                <div class="row">
                    <div class="ColorBlock u-bgGreyOne col-xs-6 col-sm-2">
                        <h4>$grey-one</h4>
                        {{ greyOne }}
                    </div>
                    <div class="ColorBlock u-bgGreyTwo col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$grey-two</h4>
                        {{ greyTwo }}
                    </div>
                    <div class="ColorBlock ColorBlock--ghost u-bgGreyThree col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$grey-three</h4>
                        {{ greyThree }}
                    </div>
                    <div class="ColorBlock ColorBlock--ghost u-bgGreyFour col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$grey-four</h4>
                        {{ greyFour }}
                    </div>
                </div>
            </div>
        </div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Colors (FO)</div>

            <ul>
                <li>Used for : text, backgrounds, lines and borders</li>
                <li>Number of variants : 2 ($color-one and $color-two, which are customizable)</li>
                <li>Defined in file : common/_variables.scss</li>
            </ul>

            <p>In addition to these 2 colors, some colors are fixed :</p>
            <ul>
                <li>$red color for notifications</li>
                <li>$color-bck (white) for body background and header score background</li>
                <li>$color-title (white) for header text, navigation icons and text, buttons text</li>
            </ul>

            <div class="container-fluid">
                <div class="row">
                    <div class="ColorBlock u-bgColorOne col-xs-6 col-sm-2">
                        <h4>$color-one</h4>
                        {{ colorOne }}
                    </div>
                    <div class="ColorBlock u-bgColorTwo col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$color-two</h4>
                        {{ colorTwo }}
                    </div>
                    <div class="ColorBlock u-bgColorRed col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$red</h4>
                        {{ colorRed }}
                    </div>
                    <div class="ColorBlock ColorBlock--ghost u-bgColorBck col-xs-6 col-sm-2 col-sm-offset-1">
                        <h4>$color-bck</h4>
                        {{ colorBck }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Colors',

        data() {
            return {
                colorOne: '', colorTwo: '', colorRed: '', colorBck: '',
                greyOne:  '', greyTwo: '', greyThree: '', greyFour: ''
            }
        },

        methods: {
            /**
             * Function to convert hex format to a rgb color
             */
            rgb2hex(rgb){
                rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
                return (rgb && rgb.length === 4) ? "#" +
                ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2) : '';
            }
        },

        created() {
            // we need to wait for the external CSS to be completely loaded in order to retrieve the guided colors
            jQuery(window).on('load', () => {
                this.colorOne  = this.rgb2hex(jQuery('.u-bgColorOne').css('background-color'));
                this.colorTwo  = this.rgb2hex(jQuery('.u-bgColorTwo').css('background-color'));
                this.colorRed  = this.rgb2hex(jQuery('.u-bgColorRed').css('background-color'));
                this.colorBck  = this.rgb2hex(jQuery('.u-bgColorBck').css('background-color'));
                this.greyOne   = this.rgb2hex(jQuery('.u-bgGreyOne').css('background-color'));
                this.greyTwo   = this.rgb2hex(jQuery('.u-bgGreyTwo').css('background-color'));
                this.greyThree = this.rgb2hex(jQuery('.u-bgGreyThree').css('background-color'));
                this.greyFour  = this.rgb2hex(jQuery('.u-bgGreyFour').css('background-color'));
            });
        }
    };
</script>