<template>
    <div id="icons" class="ToolkitContent-section">
        <div class="ToolkitContent-title">Icons</div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Guided Icons (FO)</div>

            <ul>
                <li>Number of icons : {{ icons.length }}</li>
                <li>Defined in file : fonts/_variables.scss</li>
            </ul>

            <div class="container-fluid">
                <div class="row IconRow">
                    <div v-for="icon in icons" class="col-xs-6 col-sm-3 col-md-2">
                        <div class="IconBlock">
                            <div class="IconBlock-header">
                                <h4>{{ icon }}</h4>
                            </div>
                            <div class="IconBlock-body">
                                <span :class="icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ToolkitContent-paragraph">
<xmp class="prettyprint">
// font awesome icons
<i class="fa fa-paperclip"></i>

// guided icons
<span class="icon-like"></span>
</xmp>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Icons',

        data() {
            return {
                icons: [
                    'icon-peers',
                    'icon-activity',
                    'icon-forum',
                    'icon-path',
                    'icon-planning',
                    'icon-content-download',
                    'icon-content-office',
                    'icon-content-play',
                    'icon-dots-options',
                    'icon-home',
                    'icon-bubble',
                    'icon-like',
                    'icon-quote-left',
                    'icon-quote-right',
                    'icon-content-image',
                    'icon-activity-timeline-oq',
                    'icon-activity-timeline-content',
                    'icon-activity-timeline-wts',
                    'icon-arrow-left',
                    'icon-arrow-down',
                    'icon-arrow-right',
                    'icon-arrow-up',
                    'icon-activityStatus-inProgress',
                    'icon-activityStatus-done',
                    'icon-activityStatus-notStarted',
                    'icon-activity-timeline-connection',
                    'icon-padlock'
                ]
            }
        }
    };
</script>