<template>
    <div>
        <link rel="stylesheet" href="{{ cssUrl }}">
        <sidebar></sidebar>

        <div class="ToolkitContent">
            <div class="container">

                <colors></colors>
                <typography></typography>
                <icons></icons>
                <buttons></buttons>
                <modals></modals>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import Sidebar from './Sidebar.vue';
    import Colors from './Colors.vue';
    import Typography from './Typography.vue';
    import Icons from './Icons.vue';
    import Buttons from './Buttons.vue';
    import Modals from './Modals.vue';

    export default {
        name: 'MainPage',

        data() {
            return {
                cssUrl: ''
            }
        },

        components: {
            Sidebar,
            Colors,
            Typography,
            Icons,
            Buttons,
            Modals
        },

        created() {
            if (this.$route.query.css) {
                this.cssUrl = this.$route.query.css;
            }
            else {
                this.cssUrl = 'http://guided.battlestar.epistema.local/data/css/DEV_REVISION/ck_default/0/guided.css';
            }
        },

        ready() {
            // scroll to top
            jQuery('.ToolkitSidebar-backToTop').click(() => {
                jQuery('html, body').animate({scrollTop: 0}, 'slow');
                return false;
            });
        }
    };
</script>