<template>
    <div id="modals" class="ToolkitContent-section">
        <div class="ToolkitContent-title">Modals</div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Base Modal (FO)</div>

            <ul>
                <li>Use of bootstrap classes : Yes</li>
                <li>Number of variants : 3 (Confirm, Alert and Public profile)</li>
                <li>Defined in file : Modal/styles/_modal.scss</li>
                <li>Templates in FO Bundle : BackboneTemplates/Modals</li>
            </ul>

            <!-- Confirm modal -->
            <div class="modal fade js-confirmModal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close js-modal-close" data-dismiss="modal" aria-label="Close"
                                    @click="closeModals">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Language change confirmation</h4>
                        </div>

                        <div class="modal-body">
                            To change languages, this learning resource will be reinitialised on the first page. Do you
                            want to continue?
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default js-modal-cancel" @click="closeModals">Cancel
                            </button>
                            <button type="button" class="btn btn-primary js-modal-confirm" @click="closeModals">Go
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Alert modal -->
            <div class="modal fade js-alertModal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close js-modal-close" data-dismiss="modal" aria-label="Close"
                                    @click="closeModals">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">An error has occurred</h4>
                        </div>

                        <div class="modal-body">
                            Could not upload the file.
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary js-modal-confirm" @click="closeModals">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Public profile modal -->
            <div class="PublicProfileModal modal fade js-profileModal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="PublicProfileModal-body modal-body">
                            <button type="button" class="close js-modal-close col-md-1 PublicProfileModal-closeButton"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="PublicProfileModal-header">
                                <img class="PublicProfileModal-img" src="/assets/img/avatar.png" alt="">
                                <div class="PublicProfileModal-name">Yannick CK</div>
                                <div class="PublicProfileModal-points">100 pts</div>
                                <div class="PublicProfileModal-lastConnection">Last connection: 11 minutes ago</div>
                                <a class="PublicProfileModal-socialNetwork"
                                   href="mailto:yannick.milanetto@crossknowledge.com"><i
                                        class="PublicProfileModal-icon PublicProfileModal-icon--mail fa fa-envelope"></i>yannick.milanetto@crossknowledge.com</a>
                                <a class="PublicProfileModal-socialNetwork" href="http://www.dofusbook.net"
                                   target="_blank"><i class="PublicProfileModal-icon fa fa-mouse-pointer"></i>http://www.dofusbook.net</a>
                            </div>
                            <div class="PublicProfileModal-presentation">I work in CK Techno since January 2015,
                                enjoying the Blendedˣ an amazing experience to learn and share !
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row u-centerText">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Confirm Modal</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-primary" @click="showOneConfirmModal">Show me
                                </button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Alert Modal</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-primary" @click="showOneAlertModal">Show me
                                </button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-border-padding">
                            <h3>Public Profile Modal</h3>
                        </div>
                        <div class="col-border">
                            <div class="col-border-padding">
                                <p></p>
                                <button type="button" class="btn btn-primary" @click="showOneProfileModal">Show me
                                </button>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-border">
<xmp class="prettyprint">
// show a modal
jQuery('.js-myModal').modal('show');

// hide a modal
jQuery('.js-myModal').modal('hide');
</xmp>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Modals',

        data() {
            return {
                $confirmModal: null,
                $alertModal:   null,
                $profileModal: null
            }
        },

        methods: {
            closeModals() {
                this.$alertModal.modal('hide');
                this.$confirmModal.modal('hide');
                this.$profileModal.modal('hide');
            },

            showOneConfirmModal() {
                this.$alertModal.modal('hide');
                this.$profileModal.modal('hide');
                this.$confirmModal.modal('show');
            },

            showOneAlertModal() {
                this.$confirmModal.modal('hide');
                this.$profileModal.modal('hide');
                this.$alertModal.modal('show');
            },

            showOneProfileModal() {
                this.$confirmModal.modal('hide');
                this.$alertModal.modal('hide');
                this.$profileModal.modal('show');
            }
        },

        ready() {
            this.$confirmModal = jQuery('.js-confirmModal');
            this.$alertModal   = jQuery('.js-alertModal');
            this.$profileModal = jQuery('.js-profileModal');
        }
    };
</script>