<template>
    <div class="visible-lg-block">
        <nav id="my-nav" class="ToolkitSidebar affix">
            <ul class="nav nav-list">
                <li><a href="#color-scheme">Color Scheme</a></li>
                <li><a href="#typography">Typography</a></li>
                <li><a href="#icons">Icons</a></li>
            </ul>
            <hr>
            <ul class="nav nav-list">
                <li><a href="#buttons">Buttons</a></li>
                <li><a href="#modals">Modals</a></li>
            </ul>
            <hr>
            <a class="ToolkitSidebar-backToTop" href="#">Back to top</a>
        </nav>
    </div>
</template>


<script type="text/babel">
    export default {
        name: 'Sidebar',

        data() {
            return {}
        }
    };
</script>