<template>
    <div id="typography" class="ToolkitContent-section">
        <div class="ToolkitContent-title">Typography</div>

        <div class="ToolkitContent-paragraph">
            <div class="ToolkitContent-subtitle">Fonts (FO)</div>

            <ul>
                <li>Number of variants : 8 (only one font used, Roboto, but with 8 variants)</li>
                <li>Defined in file : fonts/_variables.scss</li>
            </ul>

            <div class="container-fluid">
                <div class="row">
                    <div v-for="font in fonts" class="FontBlock col-xs-12" :class="font">
                        <h4>${{ font }}</h4>
                        Soufflé cake cake fruitcake ice cream tiramisu jelly muffin. Chocolate cake cotton
                        candy jelly beans I love sesame snaps toffee. Cake I love jujubes.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Typography',

        data() {
            return {
                fonts: [
                    'roboto-thin-italic',
                    'roboto-regular',
                    'roboto-medium-italic',
                    'roboto-medium',
                    'roboto-light-italic',
                    'roboto-light',
                    'roboto-italic',
                    'roboto-bold'
                ]
            }
        }
    };
</script>