<template>
    <div>
        <link rel="stylesheet" href="{{ cssUrl }}">
        <div class="visible-lg-block">
            <nav id="my-nav" class="ToolkitSidebar affix">
                <ul class="nav nav-list">
                    <li><a href="#color-scheme">Color Scheme</a></li>
                    <li><a href="#typography">Typography</a></li>
                    <li><a href="#icons">Icons</a></li>
                </ul>
                <hr>
                <ul class="nav nav-list">
                    <li><a href="#buttons">Buttons</a></li>
                    <li><a href="#modals">Modals</a></li>
                </ul>
                <hr>
                <a class="ToolkitSidebar-backToTop" href="#">Back to top</a>
            </nav>
        </div>
        <div class="ToolkitContent">
            <div class="container">

                <div id="color-scheme" class="ToolkitContent-section">
                    <div class="ToolkitContent-title">Color Scheme</div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Grey colors (FO)</div>
                        <p>
                            Grey colors are used for text, backgrounds, lines and borders.<br>
                            They are available in common/_variables.scss
                        </p>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="ColorBlock bg-grey-one col-xs-6 col-sm-2">
                                    <h4>$grey-one</h4>
                                    #474743
                                </div>
                                <div class="ColorBlock bg-grey-two col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$grey-two</h4>
                                    #9a9a93
                                </div>
                                <div class="ColorBlock ColorBlock--ghost bg-grey-three col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$grey-three</h4>
                                    #e7e7df
                                </div>
                                <div class="ColorBlock ColorBlock--ghost bg-grey-four col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$grey-four</h4>
                                    #f3f3ef
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Colors (FO)</div>
                        <p>
                            There are 2 colors customizable used for text, backgrounds, lines and borders.<br>
                            They are defined in common/_variables.scss and replaced with customer colors when generating
                            the
                            final css assets.<br>
                            In addition to these 2 colors, some colors are fixed :
                        </p>
                        <ul>
                            <li>$red color for notifications</li>
                            <li>$color-bck (white) for body background and header score background</li>
                            <li>$color-title (white) for header text, navigation icons and text, buttons text</li>
                        </ul>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="ColorBlock bg-color-one col-xs-6 col-sm-2">
                                    <h4>$color-one</h4>
                                    {{ colorOne }}
                                </div>
                                <div class="ColorBlock bg-color-two col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$color-two</h4>
                                    {{ colorTwo }}
                                </div>
                                <div class="ColorBlock bg-color-red col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$red</h4>
                                    {{ colorRed }}
                                </div>
                                <div class="ColorBlock ColorBlock--ghost bg-color-bck col-xs-6 col-sm-2 col-sm-offset-1">
                                    <h4>$color-bck</h4>
                                    {{ colorBck }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="typography" class="ToolkitContent-section">
                    <div class="ToolkitContent-title">Typography</div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Fonts (FO)</div>
                        <p>
                            The only font used in FO is Roboto (and all its variants).<br>
                            It is defined in fonts/_variables.scss
                        </p>

                        <div class="container-fluid">
                            <div class="row">
                                <div v-for="font in fonts" class="FontBlock col-xs-12" :class="font">
                                    <h4>${{ font }}</h4>
                                    Soufflé cake cake fruitcake ice cream tiramisu jelly muffin. Chocolate cake cotton
                                    candy jelly beans I love sesame snaps toffee. Cake I love jujubes.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="icons" class="ToolkitContent-section">
                    <div class="ToolkitContent-title">Icons</div>

                    <div class="ToolkitContent-paragraph">
                        <p>
                            We use 2 icon fonts : Font Awesome and our own custom icon font.<br>
                            They are defined in fonts/_variables.scss
                        </p>
                    </div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Guided Font (FO)</div>

                        <div class="container-fluid">
                            <div class="row IconRow">
                                <div v-for="icon in icons" class="col-xs-6 col-sm-3 col-md-2">
                                    <div class="IconBlock">
                                        <div class="IconBlock-header">
                                            <h4>{{ icon }}</h4>
                                        </div>
                                        <div class="IconBlock-body">
                                            <span :class="icon"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="buttons" class="ToolkitContent-section">
                    <div class="ToolkitContent-title">Buttons</div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Navigation buttons (FO)</div>
                        <p>
                            These buttons are fixed at the screen bottom and take full width on XS screen size<br>
                            These buttons are in float right on SM screen size and more
                        </p>

                        <div class="row u-centerText">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-border-padding">
                                        <h3>.btn-nav-milestone</h3>
                                    </div>
                                    <div class="col-border">
                                        <div class="col-border-padding">
                                            <p></p>
                                            <div class="btn-nav-milestone">
                                                <a href="#" class="btn-nav-milestone-link">
                                                    <span class="btn-nav-milestone-text">Next screen</span>
                                            <span class="btn-nav-milestone-icon">
                                                <i class="icon-arrow-right btn-nav-milestone-fa"></i>
                                            </span>
                                                </a>
                                            </div>
                                            <div class="u-clearBoth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-border-padding">
                                        <h3>.isDisabled variant</h3>
                                    </div>
                                    <div class="col-border">
                                        <div class="col-border-padding">
                                            <p></p>
                                            <div class="btn-nav-milestone isDisabled">
                                                <a href="#" class="btn-nav-milestone-link">
                                                    <span class="btn-nav-milestone-text">Next screen</span>
                                            <span class="btn-nav-milestone-icon">
                                                <i class="icon-arrow-right btn-nav-milestone-fa"></i>
                                            </span>
                                                </a>
                                            </div>
                                            <div class="u-clearBoth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-border">
<xmp class="prettyprint">
<div class="btn-nav-milestone">
    <a href="#" class="btn-nav-milestone-link">
        <span class="btn-nav-milestone-text">Next screen</span>
        <span class="btn-nav-milestone-icon">
            <i class="icon-arrow-right btn-nav-milestone-fa"></i>
        </span>
    </a>
</div>
</xmp>
                            </div>
                        </div>
                    </div>

                    <div class="ToolkitContent-paragraph">
                        <div class="ToolkitContent-subtitle">Standard buttons (FO)</div>
                        <p>
                            Add .btn class to your buttons to style them
                        </p>

                        <div class="row u-centerText">
                            <div class="col-sm-5 col-md-4">
                                <div class="row">
                                    <div class="col-border-padding">
                                        <h3>.btn-default</h3>
                                    </div>
                                    <div class="col-border">
                                        <div class="col-border-padding">
                                            <p></p>
                                            <button type="button" class="btn btn-default">Cancel</button>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-4">
                                <div class="row">
                                    <div class="col-border-padding">
                                        <h3>.btn-primary</h3>
                                    </div>
                                    <div class="col-border">
                                        <div class="col-border-padding">
                                            <p></p>
                                            <button type="button" class="btn btn-primary">Post</button>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-4">
                                <div class="row">
                                    <div class="col-border-padding">
                                        <h3>.btn-primary + disabled</h3>
                                    </div>
                                    <div class="col-border">
                                        <div class="col-border-padding">
                                            <p></p>
                                            <button type="button" class="btn btn-primary" disabled="disabled">Post</button>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-border">
<xmp class="prettyprint">
<button type="button" class="btn btn-primary">Post</button>
</xmp>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modals" class="ToolkitContent-section">
                    <div class="ToolkitContent-title">Modals</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'MainPage',

        data() {
            return {
                icons: [
                    'icon-peers',
                    'icon-activity',
                    'icon-forum',
                    'icon-path',
                    'icon-planning',
                    'icon-content-download',
                    'icon-content-office',
                    'icon-content-play',
                    'icon-dots-options',
                    'icon-home',
                    'icon-bubble',
                    'icon-like',
                    'icon-quote-left',
                    'icon-quote-right',
                    'icon-content-image',
                    'icon-activity-timeline-oq',
                    'icon-activity-timeline-content',
                    'icon-activity-timeline-wts',
                    'icon-arrow-left',
                    'icon-arrow-down',
                    'icon-arrow-right',
                    'icon-arrow-up',
                    'icon-activityStatus-inProgress',
                    'icon-activityStatus-done',
                    'icon-activityStatus-notStarted',
                    'icon-activity-timeline-connection',
                    'icon-padlock'
                ],

                fonts: [
                    'roboto-thin-italic',
                    'roboto-thin',
                    'roboto-regular',
                    'roboto-medium-italic',
                    'roboto-medium',
                    'roboto-light-italic',
                    'roboto-light',
                    'roboto-italic',
                    'roboto-bold-italic',
                    'roboto-bold',
                    'roboto-black-italic',
                    'roboto-black'
                ],

                cssUrl:   '',
                colorOne: '',
                colorTwo: '',
                colorRed: '',
                colorBck: ''
            }
        },

        methods: {
            /**
             * Function to convert hex format to a rgb color
             */
            rgb2hex(rgb){
                rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
                return (rgb && rgb.length === 4) ? "#" +
                ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2) : '';
            }
        },

        created() {
            if (this.$route.query.css) {
                this.cssUrl = this.$route.query.css;
            }
            else {
                this.cssUrl = 'http://guided.battlestar.epistema.local/data/css/DEV_REVISION/ck_default/0/guided.css';
            }
        },

        ready() {
            // we need to wait for the external CSS to be completely loaded in order to retrieve the wizard colors
            // we wait 1 second. Might not be always enough though...
            setTimeout(() => {
                this.colorOne = this.rgb2hex(jQuery('.bg-color-one').css('background-color'));
                this.colorTwo = this.rgb2hex(jQuery('.bg-color-two').css('background-color'));
                this.colorRed = this.rgb2hex(jQuery('.bg-color-red').css('background-color'));
                this.colorBck = this.rgb2hex(jQuery('.bg-color-bck').css('background-color'));
            }, 1000);

            // scroll to top
            jQuery('.ToolkitSidebar-backToTop').click(() => {
                jQuery('html, body').animate({scrollTop: 0}, 'slow');
                return false;
            });
        }
    };
</script>