@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import 'variables';

.color-red {
  color: $color-red;
}

.roboto-thin-italic {
  font-family: $roboto-thin-italic;
}

.roboto-thin {
  font-family: $roboto-thin;
}

.roboto-regular {
  font-family: $roboto-regular;
}

.roboto-medium-italic {
  font-family: $roboto-medium-italic;
}

.roboto-medium {
  font-family: $roboto-medium;
}

.roboto-light-italic {
  font-family: $roboto-light-italic;
}

.roboto-light {
  font-family: $roboto-light;
}

.roboto-italic {
  font-family: $roboto-italic;
}

.roboto-bold-italic {
  font-family: $roboto-bold-italic;
}

.roboto-bold {
  font-family: $roboto-bold;
}

.roboto-black-italic {
  font-family: $roboto-black-italic;
}

.roboto-black {
  font-family: $roboto-black;
}

.col-border-padding {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

.col-border {
  border: 1px solid $color-dark-grey;
}

.prettyprint {
  font-size: 14px;
  background-color: rgba(255, 255, 255, .5);
  padding: 0 10px 15px 15px;
}
