@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import 'variables';

.ToolkitContent {
  font: normal 16px "Roboto", sans-serif;
  border-left: 1px solid $color-dark-grey;
  background-color: $color-grey;
  color: $color-darker-grey;

  @media screen and (min-width: $screen-md) {
    margin-left: 300px;
  }

  &-paragraph {
    margin-top: 0;
    margin-bottom: 3em;
  }

  &-section {
    padding: 25px;
    margin-bottom: 1em;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $color-blue;
    margin-bottom: 2em;
  }

  &-subtitle {
    font-size: 18px;
    margin-bottom: 0.5em;
    color: $color-black;
  }
}

.ColorBlock {
  text-align: center;
  border-radius: 6px;
  color: $color-white;
  padding: 25px;
  border: 2px solid $color-white;

  h4 {
    color: $color-white;
    height: 36px;
  }

  &--ghost {
    color: $color-darker-grey;

    h4 {
      color: $color-darker-grey;
    }
  }
}

.FontBlock {
  border-radius: 6px;
  color: $color-darker-grey;
  padding: 20px;
  background-color: $color-white;
  margin-bottom: 1em;

  h4 {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
  }
}

.IconRow > [class*='col-'] {
  padding-right: 10px;
  padding-left: 0;
}

.IconBlock {
  border-radius: 6px;
  border: 2px solid $color-white;
  text-align: center;
  margin: 5px 0;

  &-header {
    padding: 5px 10px;
  }

  &-body {
    background-color: $color-white;
    padding: 10px;
  }

  h4 {
    font-size: 14px;
    height: 42px;
  }

  span {
    font-size: 48px;
  }
}
