@import 'variables';

.nav > li > a {
  color: $color-black;
  font-family: $roboto-regular;
}

.nav > li.active {
  background-color: #eee;
}

h1, h2, h3, h4 {
  margin-top: 10px;
}

h4 {
  color: $color-blue;
}

p {
  margin: 1em 0;
}

ul {
  margin: 1em 0 2em 0;
}

hr {
  margin: 0;
}

.btn-nav-milestone {
  position: static !important;
}