@import 'variables';

.ToolkitSidebar {
  width: 300px;

  &-backToTop {
    display: block;
    padding: 10px 15px;
    font-family: $roboto-regular;
    color: $color-blue;

    &:hover {
      color: $color-dark-blue;
    }

    &:active, &:focus {
      color: $color-blue;
    }
  }
}
