// custom variables
$color-grey: #eee;
$color-dark-grey: #ccc;
$color-darker-grey: #999;
$color-blue: #0099cc;
$color-dark-blue: darken($color-blue, 10%);
$color-white: #fff;
$color-black: #222;
$color-red: #f00;

// fonts
$roboto-thin-italic: 'Conv_Roboto-ThinItalic';
$roboto-thin: 'Conv_Roboto-Thin';
$roboto-regular: 'Conv_Roboto-Regular';
$roboto-medium-italic: 'Conv_Roboto-MediumItalic';
$roboto-medium: 'Conv_Roboto-Medium';
$roboto-light-italic: 'Conv_Roboto-LightItalic';
$roboto-light: 'Conv_Roboto-Light';
$roboto-italic: 'Conv_Roboto-Italic';
$roboto-bold-italic: 'Conv_Roboto-BoldItalic';
$roboto-bold: 'Conv_Roboto-Bold';
$roboto-black-italic: 'Conv_Roboto-BlackItalic';
$roboto-black: 'Conv_Roboto-Black';
