<template>
    <div class="AppContainer">
        <router-view></router-view>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'App',

        data() {
            return {}
        }
    };
</script>